<div class="container pt-4">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Editer le commentaire</h1>

      <% if @comment.errors.any? %>
          <div class="alert alert-danger text-center" role="alert">
              <p>Nous n'avons pas réussi à éditer le commentaire pour la (ou les) raison(s) suivante(s) :</p>
              <ul>
                  <% @comment.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
              </ul>
          </div>
      <% end %>

      <div>
          <%= form_tag url_for(action: 'update'), method: "patch" do %>
          <%= label_tag 'Contenu' %>
          <%= text_area_tag :content, @comment.content, rows:"10", class: "w-100" %>
          <br /> <br />
          <%= submit_tag "Valider", class: "btn btn-primary"  %>
          <%= link_to "Détruire ce commentaire", gossip_comment_path(gossip_id:@comment.gossip.id, id:@comment.id), method: :delete, data: { confirm: 'Êtes-vous sûr.e ?' }, class: "btn btn-danger py-2 my-2"%>
          <% end %>
      </div>

    </div>
  </div>
</div>
