<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1><%= @city.city_name%></h1>
      <h5>Les utilisateurs inscrits dans cette ville :</h5>
      <% User.where(city_id:@city.id).each do |user| %>
        <p>
            <%=user.first_name%> <%=user.last_name%> &#8212;
            <%= link_to "Voir son profil", user_path(id:user.id)%>
        </p>
      <% end %>
      <h5>Les gossips publiés dans cette ville :</h5>
    </div>
  </div>
  <div class="row">  
    <div class="col-md-10 mx-auto d-flex flex-wrap justify-content-center">
        <% User.where(city_id:@city.id).each do |user| %>
            <% user.gossips.each do |gossip| %>
                <div class="card my-2 mx-4" style="width: 18rem;">
                <div class="card-header">
                    Gossip numéro <%= gossip.id %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Titre : <%= gossip.title %></h5>
                    <p class="card-text">Ecrit par <%= gossip.user.first_name %></p>
                    <%= link_to "En voir plus", gossip_path(id:gossip.id), class: "btn btn-secondary" %>
                </div>
                </div>
            <% end %>
        <% end %>
    </div>
  </div>
</div>